.text-centered {
    text-align: center;
}

.github {
    padding-top: 25px;  
}

.about-font {
    font-weight: bold;
}

.github-picture {
    height: 50px; 
}

.height {
    width: 60vh;
    height: 60vh;
}